@using FoodHunterAlpha.Models;
@{
    Restaurant _store = (Restaurant)ViewBag.Store;
    if (_store == null)
    {
        var lastStore = Request.Cookies["LastVisitedStoreNameId"]?.Value;
        if (!string.IsNullOrEmpty(lastStore))
        {
            _store = Store.Get(lastStore);
        }
    }
}
<!DOCTYPE html>
<html ng-app="food-hunters">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <link href="~/Content/img/columbus/icon.jpeg" rel="apple-touch-icon" sizes="120x120" />
    <link href="~/Content/img/columbus/icon.jpe" rel="apple-touch-icon" sizes="152x152" />
    <link rel="shortcut icon" href="~/Content/img/columbus/map-marker.png" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Columbus</title>
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel="stylesheet" href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Content/css/customer/main.css" />
        <link rel="stylesheet" href="~/Content/css/customer/menu.css" />
        <link rel="stylesheet" href="~/Content/css/customer/checkout.css" />
        <link rel="stylesheet" href="~/Content/css/customer/cart.css" />
        <link rel="stylesheet" href="~/Content/css/customer/my-order.css" />
    }
    else
    {
        <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Content/dist/css/site-customer.min.css" />
    }
    @RenderSection("stylesheet", required: false)

</head>
<body ng-controller="storeController as storeCtrl" ng-init="storeCtrl.init()">
    <!-- #region store -->
    <div class="top-nav-store-bar">
        @if (_store != null)
        {
            <a>
                <span class="store-info">@_store.Name</span>
                <span class="glyphicon glyphicon-info-sign store-info"></span>
            </a>
        }
        else
        {
            <a onclick="window.location='/map';">
                <span class="store-info">looking for</span>
                <span class="glyphicon glyphicon-search btn-icon"></span>
            </a>
        }
    </div>
    <!-- #endregion -->
    <!-- #region top nav bar -->
    <div class="top-nav-bar">
        <a onclick="window.location='/map';" class="nav-btn @("Map".Equals(ViewBag.PageName)?"active":"")">
            <span class="btn-label">Stores</span>
            <span class="glyphicon glyphicon-map-marker btn-icon"></span>
        </a>
        <a onclick="window.location='@(_store != null ? "/store/" + _store.NameId: "/")d'" class="nav-btn @("Home".Equals(ViewBag.PageName)?"active":"")">
            <span class="btn-label">Home</span>
            <span class="glyphicon glyphicon-home btn-icon"></span>
        </a>
        @if (_store != null)
        {
            <div class="dropdown nav-dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle nav-btn  @("Menu".Equals(ViewBag.PageName) ? "active" : "")">
                    <span class="btn-label">Menu</span>
                    <span class="glyphicon glyphicon-list-alt btn-icon"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var cate in _store.Categories)
                    {
                        <li><a onclick="window.location='/store/@_store.NameId/menu/@cate.NameId'">@cate.Description</a></li>
                    }
                </ul>
            </div>
        }
        <a onclick="window.location='/cart';" class="nav-btn @("Cart".Equals(ViewBag.PageName)?"active":"")">
            <span class="btn-label">Meal</span>
            <span class="glyphicon glyphicon-cutlery btn-icon">
                <span class="badge badge-amount" ng-if="storeCtrl.cart.qty>0">{{storeCtrl.cart.qty}}</span>
            </span>
        </a>
        <div class="dropdown nav-dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle nav-btn  @("Account".Equals(ViewBag.PageName)?"active":"")">
                <span class="btn-label">You</span>
                <span class="glyphicon glyphicon-user btn-icon"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a>Your Account</a></li>
                <li><a onclick="window.location='/yourorders';">Your Orders</a></li>
                <li><hr style="margin:0px;" /></li>
                <li><a>Not Demo? Sign Out</a></li>
            </ul>
        </div>
    </div>
    <!-- #endregion -->
    <!-- Begin page content -->
    @RenderBody()
    <script src="~/Content/lib/js-cookie/src/js.cookie.js"></script>
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="~/Content/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/Content/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/Content/lib/angular/angular.min.js"></script>
        <script src="~/Content/js/customer/main.js"></script>
        <script src="~/Content/js/customer/controllers/store-controller.js"></script>
        <script src="~/Content/js/customer/controllers/item-controller.js"></script>
    }
    else
    {
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.2.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="~/Content/dist/js/site-customer.min.js"></script>
    }
    @RenderSection("script", required: false)
</body>
</html>
