@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@section stylesheet{
    @RenderSection("stylesheet", required: false)
}


@section nav_bar{
    <div>
        <a js-href="/map" class="nav-btn @("Map".Equals(ViewBag.PageName)?"active":"")">
            <span class="btn-label">Cafes</span>
            <span class="glyphicon glyphicon-map-marker btn-icon"></span>
        </a>
    </div>
    <div>
        <a js-href="/brands" class="nav-btn @("Brands".Equals(ViewBag.PageName)?"active":"")">
            <span class="btn-label">Brands</span>
            <span class="glyphicon glyphicon-tag btn-icon"></span>
        </a>
    </div>

}
@RenderBody()


@section script{
    @RenderSection("script", required: false)
}